In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 500)

In [2]:
ds = pd.read_csv("Datasets/dynamic_supply_chain_logistics_dataset.csv")
dp = pd.read_csv("Datasets/Daily_Port_Activity_Data_and_Trade_Estimates.csv")
tangier = pd.read_excel('Datasets/CMACGM-TANGER - MED - (MA) - Port - Schedules-20250210 - 210531.xlsx')

/home/odaio/dev/dump/env/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [32]:
ds.head()

,timestamp,vehicle_gps_latitude,vehicle_gps_longitude,fuel_consumption_rate,eta_variation_hours,traffic_congestion_level,warehouse_inventory_level,loading_unloading_time,handling_equipment_availability,order_fulfillment_status,weather_condition_severity,port_congestion_level,shipping_costs,supplier_reliability_score,lead_time_days,historical_demand,iot_temperature,cargo_condition_status,route_risk_level,customs_clearance_time,driver_behavior_score,fatigue_monitoring_score,disruption_likelihood_score,delay_probability,risk_classification,delivery_time_deviation
0,2021-01-01 00:00:00,40.375568,-77.014318,5.136512,4.998009,5.927586,985.716862,4.951392,0.481294,0.761166,0.359066,4.289160,456.503853,0.986064,2.128009,100.772854,0.574400,0.777263,1.182116,0.502006,0.033843,0.978599,0.506152,0.885291,Moderate Risk,9.110682
1,2021-01-01 01:00:00,33.507818,-117.036902,5.101512,0.984929,1.591992,396.700206,1.030379,0.620780,0.196594,0.230660,7.018373,640.408205,0.463233,12.608166,5313.738114,-9.753493,0.091839,9.611988,0.966774,0.201725,0.918586,0.980784,0.544178,High Risk,8.175281
2,2021-01-01 02:00:00,30.020640,-75.269224,5.090803,4.972665,8.787765,832.408935,4.220229,0.810933,0.152742,0.027210,9.605064,155.749314,0.598561,14.124452,1595.049146,-6.491034,0.253529,6.570431,0.945627,0.264045,0.394215,0.998633,0.803322,High Risk,1.283594
3,2021-01-01 03:00:00,36.649223,-70.190529,8.219558,3.095064,0.045257,0.573283,0.530186,0.008525,0.811885,0.616619,8.899616,104.317961,0.742735,3.818972,2530.431941,-0.151276,0.877576,0.548952,4.674035,0.362885,0.905444,0.993320,0.025977,High Risk,9.304897
4,2021-01-01 04:00:00,30.001279,-70.012195,5.000075,3.216077,8.004851,914.925067,3.620890,0.020083,0.053659,0.952385,0.061760,977.222528,0.431088,14.001491,2146.190197,2.429448,0.262081,8.861443,3.445429,0.016957,0.258702,0.912433,0.991122,High Risk,7.752484

In [30]:
filtered_df = dp[dp['country'] == 'Morocco']
filtered_df.tail()

,date,year,month,day,portid,portname,country,ISO3,portcalls_container,portcalls_dry_bulk,portcalls_general_cargo,portcalls_roro,portcalls_tanker,portcalls_cargo,portcalls,import_container,import_dry_bulk,import_general_cargo,import_roro,import_tanker,import_cargo,import,export_container,export_dry_bulk,export_general_cargo,export_roro,export_tanker,export_cargo,export,ObjectId
3426793,2024/05/31 00:00:00+00,2024,5,31,port971,Port Nador,Morocco,MAR,0,0,1,0,0,1,1,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,660.157405,0.0,0.0,660.157405,660.157405,3426794
3426794,2024/09/09 00:00:00+00,2024,9,9,port971,Port Nador,Morocco,MAR,0,0,0,0,1,0,1,0.0,0.0,0.0,0.0,2042.827291,0.0,2042.827291,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,3426795
3426796,2024/06/01 00:00:00+00,2024,6,1,port971,Port Nador,Morocco,MAR,0,0,1,0,0,1,1,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,2238.132821,0.0,0.0,2238.132821,2238.132821,3426797
3426797,2024/09/10 00:00:00+00,2024,9,10,port971,Port Nador,Morocco,MAR,0,0,0,0,1,0,1,0.0,0.0,0.0,0.0,1898.389781,0.0,1898.389781,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,3426798
3426799,2024/06/02 00:00:00+00,2024,6,2,port971,Port Nador,Morocco,MAR,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,3426800

In [5]:
tangier.head()

,Vessel Name,Voyage,Local Voyage,Service,ETA Berth,ETD,Terminal,Port Cut-off,Special Booking Cut-off,Standard Booking Cut-off,VGM Cut-off,SI Cut-off
0,NORDIC ITALIA,0WRO8W1MA,NaN,SSLMED Agapome Service (AGAPOME),2/12/2025 7:00:00 AM,2/13/2025 5:00:00 AM,EUROGATE TERMINAL TANGIER,2/8/2025 11:30:00 AM,2/5/2025 2:00:00 PM,2/6/2025 9:30:00 AM,2/7/2025 11:00:00 AM,2/7/2025 9:00:00 AM
1,CMA CGM LEBU,0BAKJS1MA,NaN,Europe Afrique 1 (EURAF1),2/13/2025 1:00:00 AM,2/14/2025 1:00:00 AM,EUROGATE TERMINAL TANGIER,2/9/2025 6:00:00 PM,2/5/2025 2:00:00 PM,2/6/2025 9:30:00 AM,2/7/2025 11:00:00 AM,2/7/2025 9:00:00 AM
2,CMA CGM MONTOIR,0HFMNN1MA,NaN,SSLMED Femex 1 - Aegean Shuttle (FEMEX1),2/17/2025 1:00:00 AM,2/17/2025 5:00:00 PM,EUROGATE TERMINAL TANGIER,2/9/2025 6:00:00 PM,2/6/2025 10:12:00 AM,2/6/2025 2:12:00 PM,2/7/2025 3:42:00 PM,2/7/2025 1:42:00 PM
3,CMA CGM VOLTAIRE,0DVL9S1MA,NaN,Mediterranean Caribbean (MEDCARIB),2/12/2025 6:00:00 PM,2/13/2025 12:00:00 PM,EUROGATE TERMINAL TANGIER,2/10/2025 11:30:00 AM,2/6/2025 2:00:00 PM,2/7/2025 9:30:00 AM,2/10/2025 11:00:00 AM,2/10/2025 9:00:00 AM
4,ATLANTIC GREEN,37S3JR,NaN,SSLEUR Algeciras Bilbao Feeder (ACX1) (ESALGBIF),2/14/2025 2:00:00 AM,2/15/2025 5:00:00 AM,EUROGATE TERMINAL TANGIER,2/11/2025 10:00:00 PM,2/10/2025 9:00:00 AM,2/10/2025 1:00:00 PM,2/11/2025 2:30:00 PM,2/11/2025 12:30:00 PM

In [6]:
tangier.describe()

,Vessel Name,Voyage,Local Voyage,Service,ETA Berth,ETD,Terminal,Port Cut-off,Special Booking Cut-off,Standard Booking Cut-off,VGM Cut-off,SI Cut-off
count,899,899,8,899,899,899,899,714,714,714,714,714
unique,165,856,3,28,802,832,4,557,301,301,304,304
top,CMA CGM DAKHLA,0NSKJS1MA,507S,SSLMED NC Levant Express (NCLEVANT),9/1/2025 7:00:00 AM,2/21/2025 7:00:00 AM,EUROGATE TERMINAL TANGIER,2/22/2025 10:00:00 PM,3/26/2025 2:00:00 PM,3/27/2025 9:30:00 AM,3/28/2025 11:00:00 AM,3/28/2025 9:00:00 AM
freq,50,3,4,54,3,3,683,6,17,17,17,17

In [7]:
tangier.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899 entries, 0 to 898
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Vessel Name               899 non-null    object
 1   Voyage                    899 non-null    object
 2   Local Voyage              8 non-null      object
 3   Service                   899 non-null    object
 4   ETA Berth                 899 non-null    object
 5   ETD                       899 non-null    object
 6   Terminal                  899 non-null    object
 7   Port Cut-off              714 non-null    object
 8   Special Booking Cut-off   714 non-null    object
 9   Standard Booking Cut-off  714 non-null    object
 10  VGM Cut-off               714 non-null    object
 11  SI Cut-off                714 non-null    object
dtypes: object(12)
memory usage: 84.4+ KB